SkoleniAll/Demo01/bin/
SkoleniAll/Demo01/obj/Debug/Demo01.csproj.CoreCompileInputs.cache
SkoleniAll/Demo01/obj/Debug/Demo01.csproj.FileListAbsolute.txt
SkoleniAll/Demo01/obj/
SkoleniAll/.vs/
Source/.vs/
Source/Demo01/bin/
Source/Demo01/obj/
