SkoleniAll/Demo01/bin/
SkoleniAll/Demo01/obj/Debug/Demo01.csproj.CoreCompileInputs.cache
SkoleniAll/Demo01/obj/Debug/Demo01.csproj.FileListAbsolute.txt
SkoleniAll/Demo01/obj/
SkoleniAll/.vs/
Source/.vs/
Source/Demo01/bin/
Source/Demo01/obj/
Source/Demo02/obj/
Source/Demo02/bin/
Source/packages/
Source/Demo03/bin/
Source/Demo03/obj/
Source/Demo04/bin/
Source/Demo04/obj/
Source/Demo05/bin/
Source/Demo05/obj/
Source/Demo06/obj/
Source/Demo07/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Source/Demo07/obj/
Source/Demo07/bin/
Source/Demo06/bin/
Source/WpfTestApp/obj/
Source/WpfTestApp/bin/
